.main_div {
	text-align: center;
}

h1 {
	font-size: medium;
}

.error {
	font-size: small;
	color: #FF0000;
}

.login {
	display: table;
	width: 90%;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
}

#list {
	width: 90%;
	height: 100px;
	line-height: 40px;
	overflow-y: scroll;
	margin-left: auto;
	margin-right: auto;
	border-width: 1px;
	border-style: solid;
	border-color: #DDDDDD;
	user-select: none;
}

#list div {
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

#list div:nth-child(odd) {
	background-color: #AAAAAA;
}

.list div:nth-child(even) {
	background-color: #DDDDDD;
}

.sarreraOndo {
	color: #000000;
}

.sarreraErrorea {
	color: #FF0000;
}

.table {
	display: table;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.row {
	display: table-row;
}

.cell {
	display: table-cell;
	width: 33%;
	padding: 5px;
}

.cell input {
	width: 75px;
	height: 40px;
}
