<?xml version='1.0' encoding='utf-8'?>
<widget id="org.hatortxurock.aforokontrola" version="0.1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Aforo HTX</name>
    <description>
        Hatortxu Rock-en afororako kontrol aplikazioa
    </description>
    <author email="enekonieto@gmail.com">
        Txabo eta Eneko
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
