h1 {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 60px;
}

.data {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
	width: 50%;
	border-style: solid;
	border-width: thin;
}

.table {
	display: table;
	margin-left: auto;
	margin-right: auto;
}

.row {
	display: table-row;
}

.cell {
	display: table-cell;
	padding: 10px;
}
